
/*p {
  margin-left:-175px;
  margin-top: 20px;
  position:absolute;
  font-size: 500%;
  width:450px;
  height: 200px;
  left:50%; 
  border: 1px solid red;
  padding: 60px;
  padding-left: 80px;
}*/
/*.dots{
  display:inline-block;
  background: blue;
  height:100px;
  width:100px;

  border: 5px solid #333;
}
.dots1 {
  display:inline-block;
  background: none;
  height:100px;
  width:100px;

  border: 5px solid #333;
  font-size: 100%;
  text-align: center;
}
.dots2 {
  display:inline-block;
  background: red;
  height:100px;
  width:100px;
 
  border: 5px solid #333;
}
*/

  /*position:absolute;*/
 /* height:200px;*/

 /* top:200px;
  left:50%;*/
  /*margin-left:-175px;*/
/*  border: 1px solid red;
  padding: 50px;*/
  /*margin-left: 150px;*/
  /*.guys{
   width:600px;

  margin: 0 auto;

  width: 600px;
  padding-left: 150px;

}

td {
  border: 1px solid #333;
  height: 100px;
  width: 100px;
  border-style: solid;
  border-width: 2px;
  /*display: none;*/

}

 /* border: 1px solid red;*/
 /*.game {
  margin: 0 auto;
  width: 600px;
  padding-left: 150px;
  margin-bottom: 30px;
}*/*/
/*table{
  position:absolute;
  left:50%;
  margin-left:-150px;
  top:10%;
  border: solid 2px black;

}*/
/*body {
  width:100%;
  height:100%;
  background:linear-gradient(#f7aeb7, #ffcccc, #ffeee6);
 
}*/




body
{
  font-family: 'Lato', sans-serif;
  background:#333;
  color:white;
}
table {
  border: 1px solid red;
}
td
{
    width:80px;
    height:80px;
    border: solid 1px black;
    text-align:center;
    font-size:20pt;
}

td:hover
{
    background-color: #dbdbdb;
    cursor:pointer;
  color: black;
}

.tictactoe
{
  text-align:center;
  margin:0 auto;
  width:50%;
  padding:10px 50px

}
.draw {
  /*border: 1px solid red;*/
  width: 50%;
  height: 50px;
  margin: 0 auto;
  margin-top: 260px;
  text-align: center;

}
.board
{
  float:left;
  margin-left:20px;
  width:60%;
}

.player
{
  float:left;
  width:15%;
}

.player-points
{
  font-size:14pt;
}